@font-face {
    font-family: 'AlexanaNeue';
    src: url('../fonts/AlexanaNeue.ttf');
}

body{
    margin: 0;
    padding: 0;
    background: #101815;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.padding-top {
    padding-top: 90px;
}

section {
    margin-top: 70px;
}

ul li{
	display: block;
    list-style: none;
}

h1 {
    font-family: 'AlexanaNeue', sans-serif;
    font-size: 90px;
    color: #fff;
    letter-spacing: 4px;
    padding-top: 10px;
    font-weight: 100;
}

h2 {
    color: #E7876B;
    font-size: 25px;
    font-weight: 500;
}

h3 span {
    font-size: 35px;
    font-weight: 400;
    background: linear-gradient(269deg, #D46C4E 34.51%, #D4ADA2 99.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    color: #CA9383;
    font-size: 25px;
    font-weight: 500;
}

h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

h6 {
    color: #D46C4E;
    font-size: 18px;
    font-weight: 500;
}

main h5 {
    padding-top: 25px;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 1180px;
    margin: 0 auto;
}

nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #101815;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    font-size: 18px;
    font-weight: 400;
}

.menu a.active {
    color: #D46C4E;
    text-decoration: underline 2px #D46C4E;
    text-underline-offset: 4px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.burger {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.two-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hello_text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}

.hello_emoji {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}


.about-wrap {
    display: flex;
    padding: 20px 20px 30px 20px;
    gap: 20px;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #7F7F7F;
    background: #263E35;
}

.heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.heading .line {
    width: 204px;
    height: 3px;
    border-radius: 2px;
    background: #E7876B;
}

.about-wrap .right-column {
    width: 536px;
}

.about-wrap p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
}

.tab-tools {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.tab-button-tools {
    width: fit-content;
    height: auto;
    padding: 5px 10px;
    outline: none;
    margin: 0;
    align-items: center;
    border: none;
    color: #535353;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background: none;
}

.tab-button-tools.active {
    border-radius: 12px;
    background: #F0C7BB;
    color: #D46C4E;
}

.tab-content {
    display: none;
    padding-bottom: 70px;
}

.technology_group {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px 54px;
    flex-wrap: wrap;
}

.tools_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills_block {
    width: fit-content;
    display: flex;
    padding: 5px 30px 5px 5px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #F0C7BB;
}

.skills_block span {
    font-size: 12px;
    color: white;
    font-weight: 400;
}

.two-column.micro {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: flex-start;
}

.form_info {
    width: 445px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.form_info p {
    font-size: 20px;
    color: white;
}

.my_links img {
    width: 40px;
}

form{
    width: 472px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

input{
    width: 100%;
    padding-left: 28px;
    border: none;
    outline: none;
    height: 62px;
    background: #DDBCB2;
    border-radius: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

textarea{
    width: 100%;
    padding-top: 17px;
    padding-left: 28px;
    resize: none;
    border: none;
    outline: none;
    height: 190px;
    background: #DDBCB2;
    border-radius: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.form_btn{
    cursor: pointer;
    margin: 0 auto;
    border: none;
    outline: none;
    width: 352px;
    height: 62px;
    background: #894632;
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.project-sort {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.sort-btn {
    width: fit-content;
    height: auto;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    min-width: 120px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #AB573F;
    color: #F8DBD3;
    border: none;
    cursor: pointer;
}

.sort-btn.active {
    background-color: #DE491E;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.project {
    display: flex;
    padding: 15px 15px 10px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background: #263E35;
}

.project h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 70%;
    margin: 0 auto;
}

.project p{
    color: #B07A7A;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.project img {
    width: 95%;
    margin: 0 auto;
}

.project_link {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 7px;
}

.project_link img {
    width: 30px;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px){
    .container{
        max-width: 960px;
    }
    .two-column.micro {
        width: auto;
    }
    .about_image {
        width: 90%;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px){
    .container{
        max-width: 720px;
    }
    .tools_group {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    main {
        height: auto;
        padding-top: 120px;
    }
    main .left-column {
        text-align: center;
    }
    h1 {
        font-size: 70px;
    }
    h3 span {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    main .right-column {
        display: flex;
    }
    main img {
        width: 80%;
        margin: 0 auto;
    }
    .two-column {
        flex-direction: column;
    }
    .project_link img {
        width: 20px;
        gap: 5px;
    }
    .two-column.micro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .about_page .two-column {
        gap: 25px;
    }
    .about_page .left-column {
        display: flex;
    }
    .about_image {
        width: 60%;
        margin: 0 auto;
    }
    .about-wrap .right-column {
        width: auto;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px){
    .container{
        max-width: 540px;
    }
    .sort-btn {
        min-width: auto;
    }
    .heading .line {
        width: 140px;
    }
    .menu {
        display: none;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 90px;
        justify-content: center;
        left: 0;
        background-color: #263E35;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: transform 0.5s ease-in;
    }
    .menu.nav-active {
        display: flex;
        z-index: 90;
    }
    .burger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #263E35;
        margin: 2px;
        border-radius: 3px;
    }
    .project-sort {
        flex-wrap: wrap;
    }
}

/* Extra Small: 320px - 575px */
@media (max-width: 575px){
    .container{
	width: auto;
        padding: 0 15px;
        margin: 0;
    }
    h1 {
        font-size: 50px;
    }
    .social img {
        width: 25px;
    }
    h3 span {
        font-size: 20px;
    }
    .logo {
        height: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .heading .line {
        width: 70px;
        height: 2px;
    }
    .project-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .form_info {
        width: auto;
    }
    form {
        width: auto;
    }
    .my_links {
        display: flex;
        justify-content: center;
        gap: 4px;
    }
    .form_btn {
        padding: 10px 15px;
        height: auto;
        width: fit-content;
    }
    .about_image {
        width: 80%;
    }
    .padding-top {
        padding-top: 40px;
    }
}
